<html><head></head><body>{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Welcome, {{ user_name }} </h1>
    
            {%for row in rows %}
            
            {% endfor %}
        <table class="table table-borderless">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">Total Shares</th>
            <th scope="col">Share Price</th>
            <th scope="col">Total Value</th>
            </tr>
        </thead>
        <tbody><tr>
            <th scope="row"></th>
            <td>{{ row["name"] }}</td>
            <td>{{ row["symbol"] }}</td>
            <td>{{ row["total_shares"] }} </td>
            <td>${{ row["price"] }} </td>
            <td>${{ row["total_shares"]*row["price"]}}</td>
            </tr></tbody>
    </table>
        <li> Total money $ {{cash}}</li>

{% endblock %}</body></html>
